header#header
  h1.logo
    a(href='index.html')
      img(src='images/logo.png', alt='BIIR')
  nav#nav
    a.nav-toggle-btn(href='#')
      span 
      span 
      span 
    ul
      li
        a(href='about.html' class=page == 'about' ? 'active' : '') About
      li
        a(href='services.html' class=page == 'services' ? 'active' : '') Services
      li
        a(href='work.html' class=page == 'work' ? 'active' : '') Work
      li
        a(href='team.html' class=page == 'team' ? 'active' : '') Team
      li
        a(href='contact.html' class=page == 'contact' ? 'active' : '') Contact
      li
        a(href='job.html' class=page == 'job' ? 'active' : '') Job
  // #nav
// .header
